{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}


{% block title %}{% endblock %}

{% block content %}
    <div1>123</div1>
    <div class=" deportament">
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-2 mx-2 justify-content-center">
            {% for t in teams %}
                {% include 'deportament.html' %}
            {% empty %}
                <p class="lead text-center">
                    Тут пусто
                </p>
            {% endfor %}
        </div>
    </div>

{% endblock %}
