.custom-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1720px;
    padding: 0 20px;
}

.customer-card {
    max-width: 490px;
    width: 490px;
    padding: 0;
    height: auto;

}

.deportament {


}

.customer-card .separator {
    display: flex;
     background-image: url(/media/image/mai.jpg);
}

.customer-card .card-avatar {
    height: 240px;
    min-width: 180px;
    width: 180px;
}


.card-avatar > img {
    max-width: 100%;
    height: 240px;
    margin: auto;
    object-fit: cover;
    min-height: 240px;
}

.card-avatar-head > img {
    height: 32px;
    width: 32px;
    border-radius: 50% !important;
    object-fit: cover;
}


.member-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.member-profile > div {
    align-self: center;
}

.member-profile > .card-avatar-head > img:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

li.head-section {
    background-color: #30eebf;
}

li.head-section:hover {
    background-color: #20a482;
}

a.danger-link {
    color: #c74f39 !important;
}

@media (prefers-color-scheme: dark) {
    li.head-section {
        background-color: #114d72;
    }

    a.danger-link {
        color: #c74f39 !important;
    }

    li.head-section:hover {
        background-color: #244db4;
    }
}

li.head-section.start {
    border-radius: 5px 0 0 5px;
}

li.head-section.end {
    border-radius: 0 5px 5px 0;
}


@media screen and (max-width: 1024px) {
    .custom-container {
        height: auto;
        padding: 0 10px;
    }

    .customer-card {
        min-width: 280px;
        width: 100%;
        max-width: 400px;
    }

    .customer-card .separator {
        flex-direction: column;
        text-align: center;

    }

    .customer-card .card-avatar {
        height: auto;
        min-width: auto;
        width: 130px;
        text-align: center;
        margin: 0 auto;
    }


    .card-avatar > img {
        max-width: unset;
        min-height: unset;
        height: 130px;
        width: 130px;
        margin: 15px auto 0 auto;
        border-radius: 50% !important;
        object-fit: cover;
    }


}

